.modal {
  padding: 20px;
}

.modal.show {
  display: block;
  opacity: 1;
}

.modal-dialog {
  margin: 0 auto;
  top: 0;
  transform: translate(0, 0) !important;
}

.modal-header {
  display: flex;
  justify-content: space-between;
}

.modal-header::after,
.modal-header::before {
  display: none;
}

.list-group-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-user-list-container {
  width: 100%;
  height: auto;
  max-height: 166px;
  overflow-x: hidden;
  overflow-y: scroll;
}

a {
  cursor: pointer;
}

.list-group-user-item {
  display: flex;
  align-items: center;
}

.list-group-user-item *{
  display: block;
}

.list-group-user-item span {
  font-size: .8em;
  color: #bebebe;
}

.list-group-user-item .image-container {
  width: 40px;
  height: 40px;
  margin-right: 5px;
}

.list-group-user-item img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}